.card-spacing {
    padding: 10px;
}

.card-image-spacing {
    margin-left: 10%;
}

.addBtn {
    margin-top: -3%;
}

.spinner {
    margin-top: 2%;
    margin-left: 2%;
}

@media only screen and (max-width: 1100px) {
    .card-spacing {        
        margin-left: 15%;    
    }
  }
  
  @media only screen and (max-width: 992px) {
    .card-spacing {        
        margin-left: 0%;    
    }
  }
  